<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [1]:
import pandas as pd;
import sqlite3;

con=sqlite3.connect("Final.db")
cur=con.cursor()


Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [2]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=True, method="multi")

c:\Users\Lokesh\anaconda3\lib\site-packages\pandas\core\generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

Load the SQL magic module

In [3]:
%load_ext sql

Establish a connection between SQL magic module and the database `FinalDB.db`

In [4]:
%sql sqlite:///Final.db

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [9]:
%sql select count(*) from CHICAGO_CRIME_DATA;

 * sqlite:///Final.db
Done.

[(533,)]

In [12]:
%%sql 

    PRAGMA table_info('CENSUS_DATA')

 * sqlite:///Final.db
Done.

[(0, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (1, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (2, 'PERCENT_OF_HOUSING_CROWDED', 'REAL', 0, None, 0),
 (3, 'PERCENT_HOUSEHOLDS_BELOW_POVERTY', 'REAL', 0, None, 0),
 (4, 'PERCENT_AGED_16__UNEMPLOYED', 'REAL', 0, None, 0),
 (5, 'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA', 'REAL', 0, None, 0),
 (6, 'PERCENT_AGED_UNDER_18_OR_OVER_64', 'REAL', 0, None, 0),
 (7, 'PER_CAPITA_INCOME', 'INTEGER', 0, None, 0),
 (8, 'HARDSHIP_INDEX', 'REAL', 0, None, 0)]

In [100]:
%sql select * from CENSUS_DATA limit(5);

 * sqlite:///Final.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [99]:
%sql PRAGMA table_info('CHICAGO_PUBLIC_SCHOOLS')

 * sqlite:///Final.db
Done.

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'School_ID', 'INTEGER', 0, None, 0),
 (2, 'NAME_OF_SCHOOL', 'TEXT', 0, None, 0),
 (3, 'Elementary, Middle, or High School', 'TEXT', 0, None, 0),
 (4, 'Street_Address', 'TEXT', 0, None, 0),
 (5, 'City', 'TEXT', 0, None, 0),
 (6, 'State', 'TEXT', 0, None, 0),
 (7, 'ZIP_Code', 'INTEGER', 0, None, 0),
 (8, 'Phone_Number', 'TEXT', 0, None, 0),
 (9, 'Link', 'TEXT', 0, None, 0),
 (10, 'Network_Manager', 'TEXT', 0, None, 0),
 (11, 'Collaborative_Name', 'TEXT', 0, None, 0),
 (12, 'Adequate_Yearly_Progress_Made_', 'TEXT', 0, None, 0),
 (13, 'Track_Schedule', 'TEXT', 0, None, 0),
 (14, 'CPS_Performance_Policy_Status', 'TEXT', 0, None, 0),
 (15, 'CPS_Performance_Policy_Level', 'TEXT', 0, None, 0),
 (16, 'HEALTHY_SCHOOL_CERTIFIED', 'TEXT', 0, None, 0),
 (17, 'Safety_Icon', 'TEXT', 0, None, 0),
 (18, 'SAFETY_SCORE', 'REAL', 0, None, 0),
 (19, 'Family_Involvement_Icon', 'TEXT', 0, None, 0),
 (20, 'Family_Involvement_Score', 'TEXT', 0, None, 0),
 (21, 'Environment_Icon', 'TEXT', 0, None, 0),
 (22, 'Environment_Score', 'REAL', 0, None, 0),
 (23, 'Instruction_Icon', 'TEXT', 0, None, 0),
 (24, 'Instruction_Score', 'REAL', 0, None, 0),
 (25, 'Leaders_Icon', 'TEXT', 0, None, 0),
 (26, 'Leaders_Score', 'TEXT', 0, None, 0),
 (27, 'Teachers_Icon', 'TEXT', 0, None, 0),
 (28, 'Teachers_Score', 'TEXT', 0, None, 0),
 (29, 'Parent_Engagement_Icon', 'TEXT', 0, None, 0),
 (30, 'Parent_Engagement_Score', 'TEXT', 0, None, 0),
 (31, 'Parent_Environment_Icon', 'TEXT', 0, None, 0),
 (32, 'Parent_Environment_Score', 'TEXT', 0, None, 0),
 (33, 'AVERAGE_STUDENT_ATTENDANCE', 'TEXT', 0, None, 0),
 (34, 'Rate_of_Misconducts__per_100_students_', 'REAL', 0, None, 0),
 (35, 'Average_Teacher_Attendance', 'TEXT', 0, None, 0),
 (36, 'Individualized_Education_Program_Compliance_Rate', 'TEXT', 0, None, 0),
 (37, 'Pk_2_Literacy__', 'TEXT', 0, None, 0),
 (38, 'Pk_2_Math__', 'TEXT', 0, None, 0),
 (39, 'Gr3_5_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (40, 'Gr3_5_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (41, 'Gr3_5_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (42, 'Gr3_5_Keep_Pace_Math__', 'TEXT', 0, None, 0),
 (43, 'Gr6_8_Grade_Level_Math__', 'TEXT', 0, None, 0),
 (44, 'Gr6_8_Grade_Level_Read__', 'TEXT', 0, None, 0),
 (45, 'Gr6_8_Keep_Pace_Math_', 'TEXT', 0, None, 0),
 (46, 'Gr6_8_Keep_Pace_Read__', 'TEXT', 0, None, 0),
 (47, 'Gr_8_Explore_Math__', 'TEXT', 0, None, 0),
 (48, 'Gr_8_Explore_Read__', 'TEXT', 0, None, 0),
 (49, 'ISAT_Exceeding_Math__', 'REAL', 0, None, 0),
 (50, 'ISAT_Exceeding_Reading__', 'REAL', 0, None, 0),
 (51, 'ISAT_Value_Add_Math', 'REAL', 0, None, 0),
 (52, 'ISAT_Value_Add_Read', 'REAL', 0, None, 0),
 (53, 'ISAT_Value_Add_Color_Math', 'TEXT', 0, None, 0),
 (54, 'ISAT_Value_Add_Color_Read', 'TEXT', 0, None, 0),
 (55, 'Students_Taking__Algebra__', 'TEXT', 0, None, 0),
 (56, 'Students_Passing__Algebra__', 'TEXT', 0, None, 0),
 (57, '9th Grade EXPLORE (2009)', 'TEXT', 0, None, 0),
 (58, '9th Grade EXPLORE (2010)', 'TEXT', 0, None, 0),
 (59, '10th Grade PLAN (2009)', 'TEXT', 0, None, 0),
 (60, '10th Grade PLAN (2010)', 'TEXT', 0, None, 0),
 (61, 'Net_Change_EXPLORE_and_PLAN', 'TEXT', 0, None, 0),
 (62, '11th Grade Average ACT (2011)', 'TEXT', 0, None, 0),
 (63, 'Net_Change_PLAN_and_ACT', 'TEXT', 0, None, 0),
 (64, 'College_Eligibility__', 'TEXT', 0, None, 0),
 (65, 'Graduation_Rate__', 'TEXT', 0, None, 0),
 (66, 'College_Enrollment_Rate__', 'TEXT', 0, None, 0),
 (67, 'COLLEGE_ENROLLMENT', 'INTEGER', 0, None, 0),
 (68, 'General_Services_Route', 'INTEGER', 0, None, 0),
 (69, 'Freshman_on_Track_Rate__', 'TEXT', 0, None, 0),
 (70, 'X_COORDINATE', 'REAL', 0, None, 0),
 (71, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (72, 'Latitude', 'REAL', 0, None, 0),
 (73, 'Longitude', 'REAL', 0, None, 0),
 (74, 'COMMUNITY_AREA_NUMBER', 'INTEGER', 0, None, 0),
 (75, 'COMMUNITY_AREA_NAME', 'TEXT', 0, None, 0),
 (76, 'Ward', 'INTEGER', 0, None, 0),
 (77, 'Police_District', 'INTEGER', 0, None, 0),
 (78, 'Location', 'TEXT', 0, None, 0)]

In [133]:
%sql pragma table_info(CHICAGO_CRIME_DATA)

 * sqlite:///Final.db
Done.

[(0, 'ID', 'INTEGER', 0, None, 0),
 (1, 'CASE_NUMBER', 'TEXT', 0, None, 0),
 (2, 'DATE', 'TEXT', 0, None, 0),
 (3, 'BLOCK', 'TEXT', 0, None, 0),
 (4, 'IUCR', 'TEXT', 0, None, 0),
 (5, 'PRIMARY_TYPE', 'TEXT', 0, None, 0),
 (6, 'DESCRIPTION', 'TEXT', 0, None, 0),
 (7, 'LOCATION_DESCRIPTION', 'TEXT', 0, None, 0),
 (8, 'ARREST', 'INTEGER', 0, None, 0),
 (9, 'DOMESTIC', 'INTEGER', 0, None, 0),
 (10, 'BEAT', 'INTEGER', 0, None, 0),
 (11, 'DISTRICT', 'INTEGER', 0, None, 0),
 (12, 'WARD', 'REAL', 0, None, 0),
 (13, 'COMMUNITY_AREA_NUMBER', 'REAL', 0, None, 0),
 (14, 'FBICODE', 'TEXT', 0, None, 0),
 (15, 'X_COORDINATE', 'REAL', 0, None, 0),
 (16, 'Y_COORDINATE', 'REAL', 0, None, 0),
 (17, 'YEAR', 'INTEGER', 0, None, 0),
 (18, 'LATITUDE', 'REAL', 0, None, 0),
 (19, 'LONGITUDE', 'REAL', 0, None, 0),
 (20, 'LOCATION', 'TEXT', 0, None, 0)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [37]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME<11000 order by PER_CAPITA_INCOME;

 * sqlite:///Final.db
Done.

[(54.0, 'Riverdale', 8201),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (26.0, 'West Garfield Park', 10934)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [126]:
%sql select CASE_NUMBER, DESCRIPTION  from CHICAGO_CRIME_DATA where DESCRIPTION LIKE('%MINOR%');

 * sqlite:///Final.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [98]:
%sql select *  from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%CHILD%';

 * sqlite:///Final.db
Done.

[(5766654, 'HN567387', '2007-09-02', '026XX W BELMONT AVE', '1754', 'OFFENSE INVOLVING CHILDREN', 'AGG SEX ASSLT OF CHILD FAM MBR', 'CHURCH/SYNAGOGUE/PLACE OF WORSHIP', 0, 0, 1411, 14, 1.0, 21.0, '2', 1158166.0, 1921161.0, 2007, 41.93941471, -87.69410322, '(41.939414712, -87.694103222)'),
 (6986273, 'HR391350', '2009-06-23', '015XX S KOLIN AVE', '1753', 'OFFENSE INVOLVING CHILDREN', 'SEX ASSLT OF CHILD BY FAM MBR', 'APARTMENT', 0, 1, 1012, 10, 24.0, 29.0, '2', 1147638.0, 1892092.0, 2009, 41.85985521, -87.73354382, '(41.859855212, -87.733543816)'),
 (5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [92]:
%%sql
 select  distinct PRIMARY_TYPE from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like "%SCHOOL%";

 * sqlite:///Final.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [91]:
%%sql
select "Elementary, Middle, or High School", avg(SAFETY_SCORE)  FROM CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School";

 * sqlite:///Final.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [108]:
%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA order by  PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit(5);

 * sqlite:///Final.db
Done.

[(54.0, 'Riverdale', 56.5),
 (37.0, 'Fuller Park', 51.2),
 (68.0, 'Englewood', 46.6),
 (29.0, 'North Lawndale', 43.1),
 (27.0, 'East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [122]:
%sql select COMMUNITY_AREA_NUMBER from( (select COMMUNITY_AREA_NUMBER, COUNT(*) AS number_of_incidents from CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER) AS NEW ) where COMMUNITY_AREA_NUMBER!='None' ORDER by number_of_incidents desc limit(1);

 * sqlite:///Final.db
Done.

[(25.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [132]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM CENSUS_DATA WHERE HARDSHIP_INDEX=(SELECT MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);

 * sqlite:///Final.db
Done.

[('Riverdale', 98.0)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [124]:
%%sql
select COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER=(
    select COMMUNITY_AREA_NUMBER from( (select COMMUNITY_AREA_NUMBER, COUNT(*) AS number_of_incidents 
    from CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER) AS NEW ) 
    where COMMUNITY_AREA_NUMBER!='None' ORDER by number_of_incidents desc limit(1)
);

 * sqlite:///Final.db
Done.

[('Austin',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>